/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #09969f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@font-face {
  font-family: Qingsong;
  src: url(../fonts/qingsong.ttf);
}

body,
* {
  font-family: "Qingsong", sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 5;
  -webkit-box-shadow: 1px 1px 5px #ccc;
          box-shadow: 1px 1px 5px #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 5;
      -ms-flex: 5 1 400px;
          flex: 5 1 400px;
  margin-left: 2rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  max-height: 300px;
}

header .logo img {
  width: 6vw;
  height: 6vw;
}

header .logo h1 {
  font-size: 2rem;
}

header nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 350px;
          flex: 1 1 350px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul li a {
  padding: 1rem 0;
  text-decoration: none;
  color: #09969f;
  font-size: 1.2rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main .banner {
  background-image: url(../image/pexels-photo-416676.jpeg);
  background-size: cover;
  width: 100%;
  height: 90vh;
  background-position: center center;
  position: relative;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .banner .coverUp {
  position: absolute;
  top: 0;
  width: 100%;
  height: 90vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

main .banner h2 {
  color: white;
  font-size: 4rem;
  text-align: center;
  line-height: 5rem;
}

main .banner .start {
  color: white;
  background-color: #33c7cf;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
  padding: 1rem 2rem;
  font-size: 1.8rem;
  margin-top: 2rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main .banner .start:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

main .exper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .exper h2 {
  text-align: center;
  font-size: 2rem;
  padding: 2rem 0;
  line-height: 3rem;
}

main .exper h2 span {
  color: #09969f;
}

main .exper .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  padding-bottom: 50px;
}

main .exper .items .item {
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .exper .items .item .img-container {
  width: 15vw;
  height: 15vw;
  overflow: hidden;
  border-radius: 50%;
}

main .exper .items .item .img-container img {
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main .exper .items .item .img-container img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

main .exper .items .item h4 {
  font-size: 1.8rem;
}

main .exper .items .item a {
  color: white;
  background-color: #097076;
  font-size: 1.2rem;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #dddddd;
}

footer .logo {
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .logo img {
  width: 6vw;
  height: 6vw;
}

footer .logo h1 {
  font-size: 2rem;
}

footer .pagis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .pagis a {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50px;
          flex: 1 1 50px;
  text-align: center;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 2rem;
  margin: 0 2rem;
}

footer .pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .pages img {
  width: 6vw;
  height: 6vw;
  margin: 0 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
}
/*# sourceMappingURL=all.css.map */